body {
    margin-top: 50px;
    background-color: #333;
}

#canv {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: white;
    margin-bottom: 50px;
}

.hints {
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    margin-left: 30px;
}



.numbers {
    color: red;
    margin-right: 20px;
}

.val {
    color: orange;
    width: 200px;
}

.probabilities {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.crossbar {
    display: flex;
    width: 300px;
}

.true {
    padding: 5px;
    background-color: green;
}

.false {
    padding: 5px;
    background-color: red;
}

.predict {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-family: sans-serif;
    font-weight: 800;
}